body {
  background-color: #F0F0F0;
}
.profile-pic {
  height: 90px;
  width: 90px;
}
a.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
}
.nav-link,
.link {
  text-decoration: none;
}
.nav-link:hover,
.link:hover {
  text-decoration: underline;
}
.card {
  border-radius: 10px;
}
.yt-player {
  border-radius: 10px 10px 0 0;
}
.fa {
  color: gray;
}
.fa:hover {
  color: #333333;
}