body {
  background-color: #F0F0F0;
}
.profile-pic {
  height: 90px;
  width: 90px;
}
.link {
  text-decoration: none;
}
.card {
  border-radius: 10px;
}
.yt-player {
  border-radius: 10px 10px 0 0;
}
.link {
  text-decoration: underline;
}
