body {
  background-color: #F0F0F0;
}

.read-more {
  text-decoration: none;
}
.card {
  border-radius: 10px;
}
.yt-player {
  border-radius: 10px 10px 0 0;
}
.read-more:hover {
  text-decoration: underline;
}
